.left_part {
  background-color: $secondary-color;
  color: $font-color;

  hr {
    opacity: 1;
    border-top: 3px solid $light-theme;
  }
}

.right_part hr {
  opacity: 1;
  border-top: 3px solid $primary-color;
}
