//COLORS---------------------------------------------------------------------------------------------------------------

$primary-color: #403f40;
$secondary-color: #273347;
$font-color: #fefefe;
$paragraf-color: #a6a9ab;
$title-color: #808284;
$timeline-color: #424242;
$timeline-paragraf: #939598;
$sec-timeline: #404041;
$dark-theme: #000;
$light-theme: #fff;

//FONTS---------------------------------------------------------------------------------------------------------------
$main-font: "Lato";

//MARGIN--------------------------------------------------------------------------------------------------
$base-margin: 5px;
